<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Departamentos</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../img/icono.png" type="img/png" />
    <script
      src="https://kit.fontawesome.com/2636c4339f.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--TOP NAVBAR-->
    <nav class="topnavbar">
      <a href="index.html" class="logo"
        ><img
          src="../img/logotransp1.png"
          alt="logo"
          width="100vw"
          class="logo"
      /></a>
      <ul class="nav-menu">
        <li class="navitem">
          <i class="fa-regular fa-envelope fa-lg" style="color: #f9f9fa"></i>
          <a
            href="mailto:rivadaviaaparts@gmail.com"
            target="_blank"
            class="linkitem"
            >Contacto</a
          >
        </li>
        <li class="navitem">
          <i class="fa-brands fa-whatsapp fa-lg" style="color: #53a82e">
            <a
              href="http://wa.me/2604318454/?text=Hola!quiero reservar"
              class="linkitem"
              target="_blank"
              >Envia un WhatsApp</a
            >
          </i>
        </li>
      </ul>
    </nav>
    <!--HEADER-->
    <header class="page-aparts">
      <div>
        <h1>Departamentos</h1>
        <h3>Estilo y confort en el corazón de la ciudad</h3>
      </div>
    </header>
    <!-- NAVBAR -->
    <nav class="navbar">
      <ul class="navprincipal">
        <li class="navmenu">
          <a href="../../index.html">INICIO</a>
        </li>
        <li class="navmenu">
          <a href="#">DEPARTAMENTOS</a>
        </li>
        <li class="navmenu">
          <a href="../views/galeria.html">GALERIA</a>
        </li>
        <li class="navmenu">
          <a href="../views/contacto.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <!--MAIN-->
    <main id="apartments">
      <section class="dpto-1">
        <div class="visual">
          <iframe
            width="450"
            height="350"
            src="https://www.youtube.com/embed/tIt1uFLtkDU?si=hrATcAotRymHF73Y"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <div class="d-grid gap-2">
            <a href="../views/galeria.html" button class="btn btn-primary" type="button">ver galería de fotos</button></a>
          </div>
        </div>
        <div class="servicios">
          <h2>Departamento Estudio</h2>
          <h4>Capacidad para 2 personas</h4>
          <div class="icono-p">
            <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffd43b"></i>
            <p>Departamento con 2 ambientes</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffd43b"></i>
            <p>
            Habitación matrimonial c/cama Queen; Cocina-comedor con equipamiento
            completo junto a zona Living
            </p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-shower fa-lg" style="color: #ffd43b"></i>
            <p>Baño con ducha</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-tv fa-lg" style="color: #ffd43b"></i>
            <p>Tv por cable</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-wifi fa-lg" style="color: #ffd43b"></i>
            <p>Wifi</p>
          </div>
          <div class="icono-p">
            <i class="fa-brands fa-cotton-bureau fa-lg" style="color: #ffd43b"
            ></i>
            <p>Ropa de cama y toallas</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-car fa-lg" style="color: #ffd43b"></i>
            <p>Cochera cubierta</p>
          </div>
        </div>
      </section>
      <section class="dpto-2">
        <div class="visual">
          <iframe
            width="450"
            height="350"
            src="https://www.youtube.com/embed/tIt1uFLtkDU?si=hrATcAotRymHF73Y"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <div class="d-grid gap-2">
            <a href="../views/galeria.html" button class="btn btn-primary" type="button">ver galería de fotos</button></a>
          </div>
        </div>
        <div class="servicios">
          <h2>Departamento Superior</h2>
          <h4>Capacidad para 2/3 personas</h4>
          <div class="icono-p">
            <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffd43b"></i>
            <p>Departamento con 2 ambientes</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffd43b"></i>
            <p>Habitación matrimonial c/cama Queen; Cocina-comedor con equipamiento
            completo junto a zona Living
            </p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-shower fa-lg" style="color: #ffd43b"></i>
            <p>Baño con ducha</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-tv fa-lg" style="color: #ffd43b"></i>
            <p>Tv por cable</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-wifi fa-lg" style="color: #ffd43b"></i>
            <p>Wifi</p>
          </div>
          <div class="icono-p">
            <i
              class="fa-brands fa-cotton-bureau fa-lg"
              style="color: #ffd43b"
            ></i>
            <p>Ropa de cama y toallas</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-car fa-lg" style="color: #ffd43b"></i>
            <p>Cochera cubierta</p>
          </div>
        </div>
      </section>
      <section class="dpto-3">
        <div class="visual">
          <iframe
            width="450"
            height="350"
            src="https://www.youtube.com/embed/Z9v72w3TjD4?si=06PzoJMZ1KGFlu0h"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
          <div class="d-grid gap-2">
            <a href="../views/galeria.html" button class="btn btn-primary" type="button">ver galería de fotos</button></a>
          </div>
        </div>
        <div class="servicios">
          <h2>Departamento Deluxe</h2>
          <h4>Capacidad para 4/6 personas</h4>
          <div class="icono-p">
            <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffd43b"></i>
            <p>Departamento con 3 ambientes</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-arrow-right fa-lg" style="color: #ffd43b"></i>
            <p>
              Habitación matrimonial c/cama Queen, más habitación con 2 camas
              twin, Cocina-comedor con equipamiento completo junto a zona Living y
              futón 3 cuerpos
            </p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-shower fa-lg" style="color: #ffd43b"></i>
            <p>Baño con ducha</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-tv fa-lg" style="color: #ffd43b"></i>
            <p>Tv por cable</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-wifi fa-lg" style="color: #ffd43b"></i>
            <p>Wifi</p>
          </div>
          <div class="icono-p">
            <i
              class="fa-brands fa-cotton-bureau fa-lg"
              style="color: #ffd43b"
            ></i>
            <p>Ropa de cama y toallas</p>
          </div>
          <div class="icono-p">
            <i class="fa-solid fa-car fa-lg" style="color: #ffd43b"></i>
            <p>Cochera cubierta</p>
          </div>
        </div>
      </section>
    </main>
    <div class="elemento-contacto">
      <h2 class="elemento-titulo">¡Quiero reservar!</h2>
      <h4 class="elemento-subtitulo">
        Comunicate con nosotros via whatsapp o teléfono
      </h4>
      <div class="buttons">
        <button class="button1">
          <a href="tel:+542604318454">Llamar</a>
        </button>
        <button class="button2">
          <a href="http://wa.me/2604318454" target="_blank">Whatsapp</a>
        </button>
      </div>
    </div>
    <!--FOOTER-->
    <img src="../img/pngwing.com (8).png" alt="footer" id="img-footer"/>
    <footer>
      <p class="footer">&copy; Valeria Assenza - Potrero Digital 2024</p>
    </footer>
  </body>
</html>
