<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galeriía</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../img/icono.png" type="img/png" />
    <script
      src="https://kit.fontawesome.com/2636c4339f.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
<!--TOP NAVBAR-->
    <nav class="topnavbar">
      <a href="index.html" class="logo"
        ><img
          src="../img/logotransp1.png"
          alt="logo"
          width="100vw"
          class="logo"
      /></a>
      <ul class="nav-menu">
        <li class="navitem">
          <i class="fa-regular fa-envelope fa-lg" style="color: #f9f9fa"></i>
          <a
            href="mailto:rivadaviaaparts@gmail.com"
            target="_blank"
            class="linkitem"
            >Contacto</a
          >
        </li>
        <li class="navitem">
          <i class="fa-brands fa-whatsapp fa-lg" style="color: #53a82e">
            <a
              href="http://wa.me/2604318454/?text=Hola!quiero reservar"
              class="linkitem"
              target="_blank"
              >Envia un WhatsApp</a
            >
          </i>
        </li>
      </ul>
    </nav>
    <!--HEADER-->
    <header class="page-photos">
      <div>
        <h1>Galería</h1>
      </div>
    </header>
    <!-- NAVBAR -->
    <nav class="navbar">
      <ul class="navprincipal">
        <li class="navmenu">
          <a href="../../index.html">INICIO</a>
        </li>
        <li class="navmenu">
          <a href="../views/departamentos.html">DEPARTAMENTOS</a>
        </li>
        <li class="navmenu">
          <a href="#">GALERIA</a>
        </li>
        <li class="navmenu">
          <a href="../views/contacto.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <main>
      <h4 class="title">Departamento Estudio</h4>
      <div class="container-fluid">
        <img src="../img/e-237883126 (3).jpg" alt="" class="img-galeria">
        <img src="../img/e-237883126 (2).jpg" alt="" class="img-galeria">
        <img src="../img/e-237883126 (1).jpg" alt="" class="img-galeria">
        <img src="../img/e-237885442.jpg" alt="" class="img-galeria">
      </div>
      <h4 class="title">Departamento Superior</h4>
      <div class="container-fluid">
        <img src="../img/s-237600181.jpg" alt="" class="img-galeria">
        <img src="../img/s-237600252 (1).jpg" alt="" class="img-galeria">
        <img src="../img/s-237600252 (2).jpg" alt="" class="img-galeria">
        <img src="../img/s-237600252 (3).jpg" alt="" class="img-galeria">
      </div>
      <h4 class="title">Departamento Deluxe</h4>
      <div class="container-fluid">
        <img src="../img/237891608.jpg" alt="" class="img-galeria">
        <img src="../img/237799717.jpg" alt="" class="img-galeria">
        <img src="../img/237799721.jpg" alt="" class="img-galeria">
        <img src="../img/balcon.jpg" alt="" class="img-galeria">
      </div>
    </main>    
<!--FOOTER-->
  <img src="../img/pngwing.com (8).png" alt="footer" id="img-footer" />
    <footer>
        <p class="footer">&copy; Valeria Assenza - Potrero Digital 2024</p>
    </footer>  
</body>
</html>