@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
/*
  .public-sans-<uniquifier> {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  .playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/
/*estilos para todo el documento*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family:"Public Sans", sans-serif;
  font-size: 16px;
}
img {
  border-radius: 5px;
  padding: 10px;
}
/*estilo top navbar*/
.topnavbar {
  background-color: #000000;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .topnavbar {
    max-width: 900px;
    margin: 0 auto;
  }
}
.linkitem {
  color: beige;
  text-decoration: none;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  padding-left: 5px;
}
.logo {
  margin-left: 40px;
  padding: unset;
}
.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.navitem {
  padding-left: 35px;
  line-height: 10px;
}
@media (max-width: 800px) {
  .topnavbar {
    display: none;
  }
}
/*estilos header*/
header {
  text-align: center;
  padding: 60px;
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-size:cover;
}
header div {
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #edfbc1;
  font-size: 1.1rem;
}
h3 {
  font-size: 1.05rem;
}
@media screen and (max-width: 800px) {
  header {
    background-position: center;
    width: 100%;
  }
  header div {
    font-size: 0.9rem;
    padding: 10px;
  }
  h3 {
    font-size: 0.9rem;
  }
}
/*estilos navbar*/
.navbar {
  display: flex;
  justify-content: center;
  background-color: #6f662e;
  position: sticky;
  top: 0;
}
.navprincipal {
  display: flex;
  list-style: none;
}
.navmenu {
  margin: 0 10px;
}
.navmenu a {
  text-decoration: none;
  color: #e5f2f1;
  padding: 10px 15px;
  border-radius: 4px;
}
.navmenu a:hover {
  background-color: #e5f2f1;
  color: #6f662e;
  font-weight: 600;
  transition: 0.5s;
}
@media screen and (max-width: 800px) {
  .navbar {
    position: unset;
    background-color: #6f662e;
    width: 100%;
    padding: 10px 0;
    overflow-y: auto;
  }
  .navprincipal {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .navmenu {
    line-height: 40px;
  }
  .navmenu a:hover {
    background: unset;
    color: black;
  }
}
@media screen and (max-width: 400px) {
  .navmenu a{
    font-size: 14px;
    padding: 5px 10px;
  }
  .navmenu {
    line-height: 25px;
  }
  .navprincipal{
    margin: 5px 0;
  }
  header{
    padding: 40px;
  }
}
/*estilos main*/
.principal {
  display: flex;
  flex-wrap: wrap;
}
main {
  flex-basis: 80%;
  color: #545c5b;
  text-align: center;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
}
.important {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.1rem;
  padding-bottom: 40px;
}
.textImportant{
  font-weight: 400;
  margin: 0;
  padding: 0 50px 50px 50px;
  line-height: 1.5;
}
aside {
  background-color: #edfbc1;
  flex-basis: 20%;
  height: 650px;
  color: #1b1b1e;
  text-align: left;
  padding: 10px;
}
.titulo_aside{
  font-size: 1.05rem;
  text-decoration: underline;
  color: #545c5b;
}
.p_aside{
  text-align: justify;
  font-style: italic;
}
.asidelinks{
  list-style: none;
  padding: 0;
}
.reference{
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  color: #133c55;
  padding-left: 5px;
}
.linksvs{
  padding-bottom: 10px;
}
.linksvs a:hover{
  color: #ff8200;
  font-weight: 700;
}
@media (max-width: 800px) {
  .principal {
    flex-direction: column;
  }
  aside {
    text-align: center;
  }
  .p_aside{
    text-align: center;
  }
}
@media (max-width: 400px) {
 .textImportant{
    padding: 0 10px 50px 10px;
  }
  .important{
    font-size: 1.7rem;
  }
}
/*stilos contenedor opiniones google*/
.elementogoogle-h4{
  font-size: 14px;
  font-weight: 400;
  font-family: "Didact Gothic", sans-serif;
}
.elementogoogle-h3{
  font-family: "Didact Gothic", sans-serif;
  font-weight: 600;
}
#contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#opinions {
  align-items: start;
  background-color: rgba(0, 0, 0, 0.16);
  width: 25%;
  height: 300px;
}
#testimonial-text1,
#testimonial-text2,
#testimonial-text3{
  width: 25%;
  background-color: rgba(0, 0, 0, 0.16);
  height: 300px;
}
img.stars {
  margin-bottom: 5pxpx;
  padding: 40px 0 0 25px;
}
.elementogoogle-h3,
.elementogoogle-h4 {
  margin: 0;
  padding: 5px 5px 5px 15px;
  text-align: left;
  color: black;
}
#name{
  color: #000000;
  margin: 0px;
  padding: 40px 10px 5px 10px;
}
.testimonios{
  font-size: 12px;
  padding: 10px;
  margin: 0;
  text-align: left;
}
.star-rating{
  padding-left: 10px;
}
@media (max-width:800px){
#testimonial-text1,
#testimonial-text2,
#testimonial-text3{
  height: 350px;
}
#opinions {
  height: 350px;
}
}
@media (max-width:400px){
main {
padding: 10px;
}
#testimonial-text1,
#testimonial-text2,
#testimonial-text3{
  display: none;
}
#contenedor{
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#opinions {
  width: auto;
  height: 250px;
}
.elementogoogle-h3,
.elementogoogle-h4 {
  text-align: center;
}
img.stars {
  margin-bottom: 5pxpx;
  padding: 10px 0 0 25px;
}
}
.elemento-titulo{
  text-align: center;
  color: #6f662e;
  font-weight: 800;
  margin: 0;
  padding: 50px 0 5px 0;
}
.elemento-subtitulo{
  text-align: center;
  color: #545c5b;
  font-weight: 700;
  margin: 0;
  padding-bottom: 20px;
}
.buttons{
  display: flex;
  justify-content: center;
}
.button1{
  background-color: #6f662e;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  border-color: #545c5b;
}
.button2{
  background-color: #545c5b;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  border-color: #6f662e;
}
.button1 a,
.button2 a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-family: "Public Sans", sans-serif;
}
.button1:hover{
  background-color: #1b1b1e;
  border-color: #ff8200;
}
.button2:hover{
  background-color: #1b1b1e;
  border-color: #ff8200;
}
#img-footer{
  height: 60px;
  width: 100vw;
  padding: 0;
  margin: 0;
  border-radius: unset;
}
/*estilos footer*/
footer{
  text-align: center;
  background-color: #202020;
  color: #edfbc1;
  padding: 10px;
  font-style: italic;
}
.footer{
  margin: 0;
}
/* estilos pagina de contacto */
.page-contacto{
  text-align: center;
  padding: 60px;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url(../img/call-center-rep.jpg);
}
.contacto{
  padding: 10px 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.formulario{
  width: 50%;
  padding: 0 40px;
}
.ubicacion{
  width: 50%;
  padding: 0 40px;
  font-style: normal;
}
.titulo-form{
  color: #af905d;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0;
}
.subtitulo-form{
  color: #545c5b;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1.4rem;
  margin: 0;
}
.titulo-form2{
  color: #af905d;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 10;
}
form{
  margin-top: 25px;
}
label{
  display: none;
}
#nombreyapellido{
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  background-color: #edfbc1;
  border-radius: 5px;
  padding: 8px 16px;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
}
#telefono{
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  background-color: #edfbc1;
  border-radius: 5px;
  padding: 8px 16px;
  width: 90%;
  height: 40px;
  margin-bottom: 10px; 
}
#email{
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  background-color: #edfbc1;
  border-radius: 5px;
  padding: 8px 16px;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
}
#fingreso{
  font-family: "Public Sans", sans-serif;
  color: gray;
  font-weight: 600;
  background-color: #edfbc1;
  border-radius: 5px;
  padding: 8px 16px;
  width: 44%;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 5px;
}
#fsalida{
  font-family: "Public Sans", sans-serif;
  color: gray;
  font-weight: 600;
  background-color: #edfbc1;
  border-radius: 5px;
  padding: 8px 16px;
  width: 44%;
  height: 40px;
  margin-bottom: 10px;
}
#mensaje{
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  background-color: #edfbc1;
  border-radius: 5px;
  padding: 8px 16px;
  width: 90%;
  height: 200px;
  margin-bottom: 10px;
}
#enviar{
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  background-color:darkolivegreen;
  color: white;
  border-radius: 5px;
  padding: 8px 16px; 
}
.d-contacto{
  margin: 0;
  color: #545c5b;
  font-weight: 500;
  padding: 5px;
}
.redes{
  font-family: "Public Sans", sans-serif;
  color: #545c5b;
  text-decoration: none;
  padding: 5px;
}
.redes:hover{
  color: crimson;
  font-weight: 800;
}
iframe{
  border-radius: 10px;
}
@media (max-width:800px){
  .contacto{
    padding: 10px 100px;
    flex-direction: column;
  }
  .formulario{
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
  }
  .ubicacion{
    width: 100%;
    padding: 0 20px;
  }
  form{
    margin-bottom: 40px;
  }
  .ubicacion{
    justify-content: center;
    text-align: center;
  }
  .titulo-form{
    font-size: 1.3rem;
  }
  .subtitulo-form{
    font-size: 18px;
  }
  .titulo-form2{
    font-size: 1.3rem;
  }
}
@media (max-width:400px){
  .page-contacto{
    padding: 40px;
  }
  .page-contacto h1{
    font-size: 20px;
  }
  .page-contacto h3{
    font-size: 12px;
  }
  .contacto{
    padding: 10px;
  }
  .formulario{
    padding: 0 20px;
  }
  .ubicacion{
    padding: 10px;
  }
}
/*estilos pagina departamentos*/
.page-aparts{
  text-align: center;
  padding: 60px;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url(../img/habitacion.jpg);
}
#apartments{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 60px;
}
.dpto-1{
  width: 100%;
  display: flex;
}
.dpto-2{
  width: 100%;
  display: flex;
}
.dpto-3{
  width: 100%;
  display: flex;
}
.visual{
  width: 50%;
  align-content: center;
}
.servicios{
  width: 50%;  
  display: flex;  
  flex-direction: column;  
  align-items: flex-start;  
  padding: 20px;
  margin: 20px;
  text-align: left;
  background-color: #edfbc1;
  border-radius: 20px;
}  
.servicios h4{
  margin-top: 0;
}
.servicios p{
  margin: 10px 0;
}
.icono-p {  
  display: flex;  
  align-items: center;  
}  
.icono-p i {  
  margin-right: 10px;}
.icono-p:hover{
  color: #000000;
  font-weight: 700;
}
.d-grid{
  padding: 20px;
}
.btn{
  padding: 5px 30px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 1.1rem;
  border-radius: 20px;
  background-color: #6f662e;
  color: #edfbc1;
  text-transform: capitalize;
  text-decoration: none;
}
.btn:hover{
  background-color: #edfbc1;
  color: #6f662e;
  font-weight: 700;
  border: 0.8px solid #6f662e;
  transition: 0.5s;
}
@media (max-width:900px) {
  .page-aparts{
    padding: 40px;
  }
  #apartments{
    flex-direction: column;
    padding: 40px;
  }
  .dpto-1,
  .dpto-2,
  .dpto-3{
    flex-direction: column;
    align-items: center;
  }
  .visual{
    width: 100%;
  }
  .servicios{
    width: 80%;  
    padding: 40px;
    margin: 40px;
  }
}
@media (max-width:400px) {
  .page-aparts{
    padding: 30px;
  }
  #apartments{
    flex-direction: column;
    padding: 0px;
  }
  .dpto-1,
  .dpto-2,
  .dpto-3{
    flex-direction: column;
    align-items: center;
  }
  .visual{
    width: 80%;
    margin-top: 20px;
  }
  .servicios{
    width: 80%;  
    padding: 10px;
  } 
  iframe{
    width: auto;
  }
}
/*estilos pagina galeria*/
.page-photos{
  text-align: center;
  padding: 60px;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url(../img/banner-galeria.jpg);
}
.title{
  background-color: burlywood;
  color:#3d2712;
  border-radius: 15px;
  padding: 5px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.img-galeria{
  width: 300px;
  border-radius: 20px;
}
.img-galeria:hover{
  width: 350px;
  transition: 0.5s;
}
